
.about-page-container {
    align-items: center;
    margin-bottom: 2vw;

    h2, p {
        max-width: 800px;
    }

    h1 {
        color: white;
        font-size: 3.25vw;
    }

    .hero-image-container {
        margin-left: 0px;
    }
}