.journal-article {
    position: relative;
    font-family: $font__accent;

    h2, div {
        position: absolute;
    }

    h2 {
        top: 0em;
        max-width: 75%;
    }

    div {
        bottom: 0.56em;
        right: 0em;
        padding: 0.3rem 1.5rem;
        width: 50%;
    }
}

.read-more {
    margin: 1em 0px;
    width: 20%;
}

.category-journal {
    margin-top: 6vw;
}
