.widget-area {
    padding: 3em 0em;
    padding-left: 5%;
}

.side-bar-widget-area {
    border-left: #e1e1e1 solid 1px;
    margin-left: 5%;

    ul {
        margin: 0px;
        padding: 0px;

        li {
            margin: .75rem 0rem;

            span {
                margin-right: .5rem;
            }
        }
    }

    h2 {
        color: $color__branding_purple;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }

    .sidebar-branding {
        color: $color__branding_green;
    }
    
    .contact-us-container {
        margin-top: 4vw;
    }
}